<?xml version="1.0"?>
<launch>
    <arg name="fix_topic" default="/gps/fix"/>
    <arg name="map_frame" default="map"/>

    <node pkg="geographic_conversion" type="fix_converter_node" name="fix_converter_node" output="screen" respawn="true" respawn_delay="0">
        <param name="input_topic" value="$(arg fix_topic)"/>
        <param name="map_frame" value="$(arg map_frame)"/>
    </node>

    <node pkg="geographic_conversion" type="geopath_converter_node" name="geopath_converter_node" output="screen" respawn="true" respawn_delay="0">
        <param name="map_frame" value="$(arg map_frame)"/>
    </node>

    <node pkg="geographic_conversion" type="geographic_conversion_server_node" name="geographic_conversion_server_node" output="screen" respawn="true" respawn_delay="0">
        <param name="map_frame" value="$(arg map_frame)"/>
    </node>
</launch>