<?xml version="1.0"?>
<launch>
    <arg name="geopose_topic" default="/geopose"/>
    <arg name="map_frame" default="map"/>

    <node pkg="geographic_conversion" type="geopose_converter_node" name="geopose_converter_node" output="screen" respawn="true" respawn_delay="0">
        <param name="input_topic" value="$(arg geopose_topic)"/>
        <param name="map_frame" value="$(arg map_frame)"/>
    </node>
</launch>